<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>寻找小希</title>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    #app {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .level3Input {
      height: 30px;
      border: none;
      border-bottom: solid #eee 1px;
      width: 80px;
      margin: 0 10px;
      font-size: 30px;
    }

    .level3Input:focus-visible {
      border: none;
      outline: none;
      border-bottom: solid #333 1px;
    }
  </style>
</head>

<body style="text-align: center;">
  <div id="app">
    <h1 v-if="level !== ''">{{LEVEL_NAME[level]}}</h1>
    <div class="levelContent">
      <div v-if="level === ''">加载中，请稍候……</div>
      <!-- 序章 -->
      <div v-if="level === 0">
        <div>
          突然有一天，<span style="text-decoration:line-through;">大家的爹</span>小希失踪了，快快移动你的鼠标，在你电脑的各处寻找小希吧！
        </div>
        <div style="margin-top: 20px;">
          （点击下方图片开始）
        </div>
        <div style="margin-top: 10px;font-size: 10px;color:#eee">
          （据说笨蛋在5分钟之内无法通关）
        </div>
        <div>
          <img @click="nextLevel()" width="20%" style="cursor:pointer;margin-top: 100px;" src="../xiaoxi/alert.gif"
            alt="">
        </div>
      </div>
      <!-- 第一关 -->
      <div v-if="level === 1">
        <div style="font-size: 20px;">请点击屏幕上的<span @click="showLevel1Img">小希</span>进入下一关</div>
      </div>
      <!-- 第二关 -->
      <div v-if="level === 2">
        <div>你管小希叫什么</div>
        <input :disabled="level2InputDisabled" @input="checkLevel2Input" v-model="level2Input"
          style="height: 40px;font-size: 35px;text-align: center;" type="text" />
      </div>
      <!-- 第三关 -->
      <div v-if="level === 3">
        <div style="font-size: 30px;display: flex;align-items: center;color: #333">如果给小希发红包，应该发<input class="level3Input"
            @input="checkLevel3Input" v-model="level3Input" />元</div>
      </div>
      <!-- 第四关 -->
      <div v-if="level === 4">
        <div>小希在独播，请拿走一样东西避免直播事故：</div>
        <div>
          <img usemap="#coke" style="width:300px;margin-top:10px" src="../xiaoxi/level4.jpg" alt="">
          <map name="coke">
            <area shape="rect" coords="260,0,300,50" alt="Sun" @click="levelImg=true">
          </map>
        </div>
      </div>
      <!-- 第五关 -->
      <div v-if="level === 5">
        <div>保持十秒钟不理小希</div>
      </div>
      <!-- 第六关 -->
      <div v-if="level === 6">
        <div>见到小希后，（让你的电脑）在心里默念十个字，然后点击下面的按钮检测你的内心</div>
        <button @click="checkLevel6Clipboard">检测</button>
        <div v-if="level6False && !levelImg">不对哦，给你一拳!</div>
      </div>
      <!-- 通关按钮 -->
      <div>
        <img v-if="levelImg" @click="nextLevel()" width="20%" style="cursor:pointer;margin-top: 100px;"
          src="../xiaoxi/alert.gif" alt="">
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./render.js"></script>
<script>
  const LEVEL_NAME = [
    "序章",
    "第一关",
    "第二关",
    "第三关",
    "第四关",
    "第五关",
    "第六关",
    "第七关",
    "第八关",
    "第九关",
    "第十关",
  ]
  var app = new Vue({
    el: "#app",
    data: {
      level: "",
      LEVEL_NAME,

      // 第一关
      levelImg: false,

      // 第二关
      level2Input: "",
      level2InputDisabled: false,

      // 第三关
      level3Input: "",

      // 第六关
      level6False: false
    },
    watch: {
      level: {
        handler(nval) {
          if (nval == 5 || nval == 7) {
            const success = (event, value) => {
              this.levelImg = true
              window.electronAPI.removeSuccess(success);
            }
            window.electronAPI.handleSuccess(success)
          }
        }
      }
    },
    methods: {
      nextLevel() {
        this.levelImg = false
        this.level++
        location.hash = this.level
      },

      // 第一关
      showLevel1Img() {
        this.levelImg = true
      },

      // 第二关
      checkLevel2Input() {
        if (this.level2Input.includes("爹")) {
          this.level2InputDisabled = true;
          this.levelImg = true;
        }
      },

      // 第三关
      checkLevel3Input() {
        if (this.level3Input == 0.66) {
          this.levelImg = true;
        }
      },

      // 第六关
      async checkLevel6Clipboard() {
        const currentClipboard = await window.electronAPI.getClipboard()
        if (currentClipboard == "希爹是我爹我是希爹儿" || currentClipboard == "希爹是我爹，我是希爹儿" || currentClipboard == "希爹是我爹,我是希爹儿" || currentClipboard == "希爹是我爹 我是希爹儿") {
          this.levelImg = true;
        }
        else {
          this.level6False = true;
        }
      },

    },
    mounted() {
      this.level = Number(location.hash.replace("#", "")) || 0;
    }
  })
    // window.onbeforeunload = (e) => {
    //   alert("小希，找到你了！")
    //   e.returnValue = false
    // }
</script>

</html>